extends ../layout/head
block content 
    .container 
        input#session(type="button", value="Iniciar Sesion",class="btn btn-danger" style="margin: 0 1rem")
    script(type="module", src="./js/recursos.js") 